// Navigation Styles here

header{
    border-bottom: 2px dashed @silver;

    .navbar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 auto;
    padding:20px 0px;
    max-width: 800px;

    @media @mobile {
        display:flex;
        flex-direction: column;
        align-items:center;
        margin: 0 auto;
        padding:20px 0px;
        max-width: 500px;
        }
    }

    }

    nav{
        display:flex;
        align-items: center;
        @media @mobile{
            margin-top: 15px;
        }
        a{
            margin-right:25px;
            font-size: 1.6rem;
            text-decoration: none;
            color:@shark;
        }

        a:hover{
            color:@eastern-blue;
        }
    }